<div id="additional_services" style="display: none;" class="step-title" data-role="title" data-bind="i18n: 'tilleggstjenester'">tilleggstjenester</div>
<div class="control" style="padding: 15px 0;display: none;" id="simplified_delivery">
	<input type="checkbox" name="ko_simplified_delivery_check" value="Pose på døren" data-bind="checked: isAdditionalService, attr: {id: 'simplified_delivery_check'}"> <label data-bind="attr: {for: 'simplified_delivery_check'}"><span data-bind="i18n: 'Pose på døren'"></span></label>
</div>