<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <bring>
                <active>1</active>
                <model>Markant\Bring\Model\Carrier</model>
                <name>Bring</name>
                <title>Bring</title>
                <type>I</type>
                <enabled_methods>5800,5600,PAKKE_I_POSTKASSEN</enabled_methods>
                <affected_free_shipping_methods>5800,MINIPAKKE,A-POST,B-POST</affected_free_shipping_methods>
                <free_shipping_method_enabled_discount_amount>0</free_shipping_method_enabled_discount_amount>
                <bring_client_url>http://example.com</bring_client_url>
                <mybring_client_uid></mybring_client_uid>
                <mybring_api_key></mybring_api_key>
                <calculation>
                    <posting_at_post_office>0</posting_at_post_office>
                    <edi>1</edi>
                    <activate_api>1</activate_api>
                    <show_estimated_delivery>1</show_estimated_delivery>
                </calculation>
                <booking>
                    <activate_booking>0</activate_booking>
                    <test>1</test>
                    <default_customer></default_customer>
                    <default_return_method>5800_RETURSERVICE</default_return_method>
                    <origin>
                        <name></name>
                        <country_id></country_id>
                        <street_line_1></street_line_1>
                        <street_line_2></street_line_2>
                        <postcode></postcode>
                        <city></city>
                        <email></email>
                        <phone_number></phone_number>
                    </origin>
                </booking>

                <package_management>
                    <standard_package_width>31</standard_package_width>
                    <standard_package_length>21</standard_package_length>
                    <standard_package_height>6</standard_package_height>
                </package_management>
            </bring>
        </carriers>
    </default>
</config>