<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <bring>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Markant\Bring\Model\Carrier\Bring</model>
                <name>Bring</name>
                <title>Bring</title>
                <type>I</type>
                <enabled_methods>SERVICEPAKKE,PA_DOREN</enabled_methods>
                <posting_at_post_office>1</posting_at_post_office>
                <edi>1</edi>
                <bring_client_url>http://example.com</bring_client_url>
                <enable_mybring>0</enable_mybring>
                <mybring_client_uid></mybring_client_uid>
                <mybring_api_key></mybring_api_key>
                <activate_api>1</activate_api>
                <show_estimated_delivery>1</show_estimated_delivery>
            </bring>
        </carriers>
    </default>
</config>