<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="bring" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Bring</label>
                <comment><![CDATA[Denne Bring modulen er utviklet av <a href="http://markant.no">Markant Norge AS</a>. Videredistribusjon av noe slag er ikke tillatt; kun etter avtale med Markant.<br /><br />Kontakt oss om du har spørsmål rundt løsningen.<br /><strong>Epost: support@markant.no</strong>]]></comment>

                <field id="active" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>

                <field id="handling_type" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Calculate Handling Fee</label>
                    <source_model>Magento\Shipping\Model\Source\HandlingType</source_model>
                </field>
                <field id="handling_fee" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Handling Fee</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>


                <field id="bring_client_url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Bring Client URL</label>
                    <comment>Your website domain.</comment>
                </field>
                <field id="mybring_client_uid" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Mybring login ID</label>
                </field>
                <field id="mybring_api_key" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Mybring login API key</label>
                    <comment>Please save settings once you have changed the My Bring Login details, so it's possible to configure My Bring customer ID.</comment>
                </field>

                <field id="enabled_methods" translate="label" type="multiselect" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled Bring Products</label>
                    <source_model>Markant\Bring\Model\Config\Source\BringMethod</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>




                <field id="bring_product_rules" translate="label" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Bring Product Rules</label>
                    <frontend_model>Markant\Bring\Block\System\Config\Form\Field\BringProductRuleType</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Add rules that must be fulfilled to enable a specific Bring Products. E.g.: "Minipakken" can have max 2 kg.</comment>
                </field>


                <field id="affected_free_shipping_methods" translate="label" type="multiselect" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Affected Free Shipping Bring Products</label>
                    <source_model>Markant\Bring\Model\Config\Source\BringMethod</source_model>
                    <can_be_empty>1</can_be_empty>
                    <comment>When a cart rule that gives free shipping is applied you can chose what bring products that should be free. E.g. you don't want the "Home delivery" method to be free because it costs more for you.</comment>
                </field>


                <field id="free_shipping_method_enabled_discount_amount" translate="label" type="text" sortOrder="71" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Free shipping - Discount base amount</label>
                    <comment>When free shipping is activated by a cart rule, give [x] amount of discount to the shipping methods, except for those who are already free. This is only enabled once a free shipping alternative appears. Configure what free alternatives that are possible above. E.g. set this field to 119 if you want to offer SERVICEPAKKE for free.</comment>
                </field>


                <field id="sort_order" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                </field>





                <group id="calculation" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Bring Shipping Guide</label>

                    <field id="custom_method_prices" translate="label" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Custom Prices</label>
                        <frontend_model>Markant\Bring\Block\System\Config\Form\Field\CustomMethodPrice</frontend_model>
                        <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                        <comment>Add custom prices for each shipping method. You can base the prices on weight (Gram) and Country. These prices overrides the Automatic Shipping Prices.</comment>
                    </field>


                    <field id="show_estimated_delivery" translate="label" type="select" sortOrder="66" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Show estimated delivery time</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>


                    <field id="edi" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>EDI</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment>Flag that tells if the parcel will be registred using EDI when it is shipped. Note that this flag may affect price and which products are available.</comment>
                    </field>
                    <field id="posting_at_post_office" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Posting at post office</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment>Flag that tells whether the parcel is delivered at a post office when it is shipped. A surcharge will be applied for the following products: SERVICEPAKKE and BPAKKE_DOR-DOR (Bedriftspakke)</comment>
                    </field>
                    <field id="additional_services" translate="label" type="multiselect" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Additional Services</label>
                        <source_model>Markant\Bring\Model\Config\Source\AdditionalService</source_model>
                        <can_be_empty>1</can_be_empty>
                    </field>

                    <field id="default_delivery_option" type="select" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Default Delivery Option</label>
                        <source_model>Markant\Bring\Model\Config\Source\DeliveryOption</source_model>
                    </field>
                </group>

                <group id="booking" translate="label" type="text" sortOrder="800" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Bring Booking</label>

                    <field id="activate_booking" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Activate Bring Booking</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment><![CDATA[Allows to book shipping from Bring directly via editing of "Shipping" on a order.]]></comment>
                    </field>


                    <field id="test" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Test mode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <depends>
                            <field id="activate_booking">1</field>
                        </depends>
                    </field>

                    <field id="default_customer" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Default Customer</label>
                        <source_model>Markant\Bring\Model\Config\Source\BookingCustomer</source_model>
                        <depends>
                            <field id="activate_booking">1</field>
                        </depends>
                        <comment>Please configure Mybring login ID and Api Key in order to select a customer. After you have changed login and and API key you will need to refresh the config cache in order to select a mybring customer.</comment>
                    </field>

                    <field id="default_return_method" translate="label" type="select" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Default Return Shipping Method</label>
                        <source_model>Markant\Bring\Model\Config\Source\BringReturnMethod</source_model>
                        <depends>
                            <field id="activate_booking">1</field>
                        </depends>
                        <comment>Can be empty. Book a return label for each booking of shipment. This is the default method label to use.</comment>
                    </field>



                    <group id="package" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Standard package size</label>
                        <comment><![CDATA[The standard format of your shipping packages. Bring have rules for package sizes. E.g. Minipackage requires max sizes of 31x21x6]]></comment>

                    </group>
                    <group id="origin" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Shipping Origin</label>
                        <comment>When we send orders to Bring, a origin address is needed so Bring can calculate the correct prices from where you deliver the packages.</comment>

                        <field id="name" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Name</label>
                        </field>
                        <field id="country_id" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Country</label>
                            <frontend_class>countries</frontend_class>
                            <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        </field>
                        <field id="street_line_1" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Street Address</label>
                        </field>
                        <field id="street_line_2" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Street Address Line 2</label>
                        </field>
                        <field id="postcode" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>ZIP/Postal Code</label>
                        </field>
                        <field id="city" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>City</label>
                        </field>
                        <field id="email" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Email</label>
                        </field>
                        <field id="phone_number" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Phone number</label>
                        </field>
                    </group>
                </group>




                <group id="package_management" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Package Management</label>


                    <field id="ship_individually_attribute" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Ship individually (On / off) Attribute</label>
                        <source_model>Markant\Bring\Model\Config\Source\AttributeType</source_model>
                    </field>

                    <field id="width_attribute" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Width Attribute (cm)</label>
                        <source_model>Markant\Bring\Model\Config\Source\AttributeType</source_model>
                    </field>

                    <field id="length_attribute" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Length Attribute (cm)</label>
                        <source_model>Markant\Bring\Model\Config\Source\AttributeType</source_model>
                    </field>

                    <field id="height_attribute" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Height Attribute (cm)</label>
                        <source_model>Markant\Bring\Model\Config\Source\AttributeType</source_model>
                    </field>

                    <!-- not ready for 1.0 / extra module
                    <field id="packages" translate="label" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Package Configuration</label>
                        <frontend_model>Markant\Bring\Block\System\Config\Form\Field\PackageType</frontend_model>
                        <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                        <comment>Configure standard shipping packages.</comment>
                    </field>
                    -->

                    <field id="standard_package_width" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Standard Package Width (cm)</label>
                    </field>
                    <field id="standard_package_length" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Standard Package Length (cm)</label>
                    </field>
                    <field id="standard_package_height" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Standard Package Height (cm)</label>
                    </field>


                </group>




            </group>
        </section>
    </system>
</config>