<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="bring" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Bring</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                </field>
                <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="enabled_methods" translate="label" type="multiselect" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled Bring Products</label>
                    <source_model>Markant\Bring\Model\Config\Source\BringMethod</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="edi" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>EDI</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Flag that tells if the parcel will be registred using EDI when it is shipped. Note that this flag may affect price and which products are available.</comment>
                </field>
                <field id="posting_at_post_office" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Posting at post office</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Flag that tells whether the parcel is delivered at a post office when it is shipped. A surcharge will be applied for the following products: SERVICEPAKKE and BPAKKE_DOR-DOR (Bedriftspakke)</comment>
                </field>
                <field id="additional_services" translate="label" type="multiselect" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Additional Services</label>
                    <source_model>Markant\Bring\Model\Config\Source\AdditionalService</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
            </group>
        </section>
    </system>
</config>